<%= render layout: '/layouts/page-layout', locals: {
  title: "Log In",
  metaTitle: "Log In"
} do %>

<div class="form-wrapper">
  <!-- Flash message -->
  <% flash.each do |message_type, message| %>
    <div class="alert alert-#{message_type}"><%= message %></div>
  <% end %>

  <%= form_for(:session, url: login_path) do |f| %>
    <div class="field-wrapper">
      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>      
    </div>

    <div class="field-wrapper">
      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>      
    </div>

    <div class="field-wrapper">
      <%= f.label :remember_me, class: "checkbox-wrapper" do %>
        <div class="checkbox-field">
          <%= f.check_box :remember_me %>
          <%= svg 'checkmark' %>  
        </div>
        
        <span>Remember me on this computer</span>
      <% end %>      
    </div>

    <div class="field-wrapper">
      <%= f.submit 'Log in', class: 'btn' %>  
    </div>
  <% end %>
</div>




<% end %>

