<div class="site-navbar">
  <div class="site-navbar__container">
    <!-- Left Block -->
    <div class="site-navbar__block mod-left">
      <div class="site-navbar__title">
        <a
          class="site-navbar__title-anchor"
          href="/"
        >
          <img 
            src="https://s3-us-west-1.amazonaws.com/henkubao/henkubao-logo.png" 
            alt="Henkubao logo"
            class="site-navbar__title-img"
          >
        </a>
      </div>
    </div>
    
    <!-- Right Block -->
    <div class="site-navbar__block mod-right">
      <div class="site-navbar__btns center">

        <!-- Social Toggle -->
        <div class="site-navbar__btn">
          <%= render layout: '/partials/round-btn', locals: {
            classes: 'js-ontoggle-toggler',
            data: 'data-ontoggle-target="js-nav-social-menu"'
          } do %>
            <%= svg 'social' %>
          <% end %>
          <%= render layout: '/partials/nav-menu', locals: {
            classes: 'js-ontoggle-target',
            data: 'data-ontoggle-target="js-nav-social-menu"'
          } do %>
            <%= render partial: '/partials/social-menu', locals: {
              showCopy: true,
              verticalAlign: true
            } %>
          <% end %>
        </div>

        <!-- Search Toggle -->
        <div class="site-navbar__btn">
          <%= render layout: '/partials/round-btn', locals: {
            classes: 'js-ontoggle-toggler',
            data: 'data-ontoggle-target="js-search-form"'
          } do %>
            <%= svg 'magnifier' %>
          <% end %>
          <%= render 'partials/search-form' %>
        </div>

        <!-- Nav Menu Toggle -->
        <div class="site-navbar__btn">
          <%= render layout: '/partials/round-btn', locals: { 
            classes: 'js-ontoggle-toggler',
            data: 'data-ontoggle-target="js-site-menu"'
          } do %>
            <%= svg 'burger' %>
          <% end %>
        </div>

      </div>
    </div>

  </div><!-- / .site-navbar__container -->
</div>

<!-- Menu -->
<%= render '/partials/site-menu' %>
