

<div class="form-wrapper">
  <h2>Meta Settings</h2>

  <%= form_with(model: @setting, local: true) do |form| %> 
    <div class="form-row">
      <%= form.label :metaTitle, 'Meta Title' %>
      <%= form.text_field :metaTitle %>
    </div>

    <div class="form-row">
      <%= form.label :metaAuthor, 'Meta Author' %>
      <%= form.text_field :metaAuthor %>
    </div>
   
    <div class="form-row">
      <%= form.label :metaDescription, 'Meta Description' %>
      <%= form.text_field :metaDescription %>
    </div>

    <div class="form-row">
      <%= form.label :metaKeywords, 'Meta Keywords' %>
      <%= form.text_field :metaKeywords %>
    </div>

    <h2>Social Media</h2>

<!--     <ul>
      <%= form.fields_for :socialAddresses do |socialAddresses_form| %>
        <li>
          <%= socialAddresses_form.label :name %>
          <%= socialAddresses_form.text_field :name %>

          <%= socialAddresses_form.label :url %>
          <%= socialAddresses_form.text_field :url %>
        </li>
      <% end %>
    </ul> -->

    <div class="form-row">
      <%= form.label :socialTwitterUrl, 'Twitter URL' %>
      <%= form.text_field :socialTwitterUrl %>
    </div>

    <div class="form-row">
      <%= form.label :socialFacebookUrl, 'Facebook URL' %>
      <%= form.text_field :socialFacebookUrl %>
    </div>
  
    <!-- Update settings button -->
    <div class="form-row">
      <%= form.submit 'Update settings' %>
    </div>

    <%= @garage.name %>
    <br>
    <%= debug(@cars) %>

      <% for car in @cars %>
        <%= car %>
      <% end %>
    
      

    

  <% end %>  
</div>
