<h1>Settings</h1>

<%= form_with(model: @setting, local: true) do |form| %> 
  <p>
    <%= form.label :metaTitle, 'Meta Title' %><br>
    <%= form.text_field :metaTitle %>
  </p>
  <p>
    <%= form.label :metaAuthor, 'Meta Author' %><br>
    <%= form.text_field :metaAuthor %>
  </p>
 
  <p>
    <%= form.label :metaDescription, 'Meta Description' %><br>
    <%= form.text_field :metaDescription %>
  </p>

  <p>
    <%= form.label :metaKeywords, 'Meta Keywords' %><br>
    <%= form.text_field :metaKeywords %>
  </p>

  <br /><br>

  Social Media
  <br />
  
  <ul>
    <%= form.fields_for :socialAddresses do |socialAddresses_form| %>
      <li>
        <%= socialAddresses_form.label :name %>
        <%= socialAddresses_form.text_field :name %>

        <%= socialAddresses_form.label :url %>
        <%= socialAddresses_form.text_field :url %>
      </li>
    <% end %>
  </ul>


  <br><br>

  <p>
    <%= form.submit 'Update settings' %>
  </p>
 
<% end %>