<% provide(:title, @post.title) %>
<% provide(:hideExtraTitle, true) %>


<div class="post">

  <div class="post-container">
    <div class="post-col">
      <p>
        <%= @post.title %>
      </p>

      <p>
        <%= @post.slug %>
      </p>

      <p>
        <%= @post.text %>
      </p>
    </div>    
  </div>
</div>



<%= link_to 'Edit', edit_post_path(@post.slug) %>
<%= link_to 'Back', posts_path %>