<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content='notranslate' name='google'>

    <!-- Device meta data -->
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content='yes' name='apple-mobile-web-app-capable'>
    <meta content='yes' name='mobile-web-app-capable'>
    <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">


    <!-- Page meta data -->
    <title>
      <% unless @post %>
        <% if @setting %>
          <%= @setting.metaTitle %>
        <% else %>
          <%= 'Henkubao' %>
        <% end %>
      <% else %>
        <%= @post.title %>
      <% end %>
    </title>
    <meta content='' name='author'>
    <meta content='' name='keywords'>
    <meta name='description' content=''>

    <!-- FACEBOOK OPEN GRAPH -->
    <meta property="og:type" content="website" />
    <meta property="og:title" content="" />
    <meta property="og:description" content="" />
    <meta property="og:image" content="" />
    <meta property="og:image:secure_url" content="" />
    <meta property="og:image:width"  content="1200" />
    <meta property="og:image:height" content="630" />
    <meta property="og:url" content="" />

    <!-- TWITTER META -->
    <meta name="twitter:site" content="Henkubao">
    <meta name="twitter:title" content="">
    <meta name="twitter:description" content="">
    <meta name="twitter:creator" content="Henkubao">
    <meta name="twitter:image" content="">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:image:width" content="1200">
    <meta name="twitter:image:height" content="630">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <!-- Font -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet"> 

    <!-- Styles -->
    <!-- <%= stylesheet_link_tag    'application', media: 'all' %> -->
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <!-- Site Navbar -->
    <%= render '/partials/site-navbar.erb' %>

    <!-- Container -->
    <main class="container">
      <!-- Content -->
      <div class="content">
        <!-- Flash message -->
        <% flash.each do |message_type, message| %>
          <div class="alert alert-#{message_type}"><%= message %></div>
        <% end %>

        <%= yield %>

        <% if logged_in? %>
          <%= link_to "Log out", logout_path, method: :delete %>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab tempore nisi natus asperiores distinctio alias vero, labore dignissimos laborum enim temporibus minima, quidem a modi maiores, soluta eveniet iusto sequi.</p>
        <% end %>
        
        <%= debug(params) if Rails.env.development? %>
      </div>
    </main>

    <%= render '/partials/site-footer.erb' %>


    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> -->
    <!-- <%= javascript_include_tag 'application' %> -->

  </body>
</html>
